{{- $profile := promptStringOnce . "profile" "Profile (work/personal)" -}}
{{- $meshnetNordName := promptStringOnce . "meshnetNordName" "Meshnet Nord name (*.nord)" -}}

[data]
profile = {{ $profile | quote }}
meshnetNordName = {{ $meshnetNordName | quote }}
